<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Update Item</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Enter Item Title" [(ngModel)]="note.title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input id="Input" placeholder="Select Item Image" type="file" accept="image/*" (change)="upPic($event)" [(ngModel)]="note.downloadurl" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea rows="6" [(ngModel)]="note.content" placeholder="Enter more Item information here..."></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-button color="primary" expand="full" (click)="updateNote()" (click)="upPic()">Update</ion-button>
    <!-- im done -->
</ion-content>