.title-block{
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/img/bg2.jpeg");
  height: 160px;
}

.title-block .heading{
  font-size: 35px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arial Black"
}

ion-label{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}
tool-bar{
  background-color: transparent;
}
ion-title{

  text-transform: uppercase;
}

img{
  object-fit: cover;
}

//  ion-icon {
//   width: 60px;
//   height: 60px;
//   justify-content: right;
//   padding-right: -1%;
// }

.cart-icon {
  font-size: 5px;
  width: 30px;
  height: 30px;
}


.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 0;
  // margin-bottom: 100px;
  // left: 10px;
  font-weight: 900;
  font-size: 1em;
  
  min-width: 25px;
  z-index: 10;
  justify-content: center;
  text-align: center;
}

.ion-fab{
  width: 10px;
  height: 10px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 50px;
  justify-content: right;

}
.ion-fab-button #cart{
margin-top: 0;
margin-bottom: 300px;

}